.container {
  padding: 10px;
}

.content {
  padding: 14px 8px;
  font-size: 13px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.major-code-tips,.major-code,.major-name-tips {
  width: 20%;
  text-align: left;
}

.major-name {
  width: 40%;
  text-align: left;
}